/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;

}



.header-container {
    min-height: 100px;
    padding: 30px 150px;
    background-color: #255ee9;
    display: flex;
}

.main-content {
    height: 600px;
}


.logo {
    width: 25%;
    padding: 10px;
}


.navbar {
    width: 50%;
    text-align: center;
    margin:0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    color:white;
}

a:link {
    color: white;
    margin-right: 30px;
    font-size: 1.2em;
    text-decoration: none; 
  }
  
  a:visited {
    color: white;
  }


  .myButton {
	background-color:#ffffff;
	border-radius:20px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:black;
	font-size:15px;
	padding:11px 24px;
	text-decoration:none; }

    .button-conteiner :first-child {
        color: black;
        background-color:#ffffff;
        font-size:20px;
        border: none;
        margin: 50px;
        border-radius:30px;
    }

    .button-conteiner :last-child {
        background-color: black;
        color: white;
        font-size:20px;
        border: none;
        border-radius:30px;
    }

    .button-conteiner {
        text-align: center;
    }


.login {
    width: 25%;
    text-align: right;
    padding: 5px;
}

.logo, .navbar, .login {
    min-height: 40px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-content {
    width: 60%;
    height: 80%;
}

.primary-content > h1 {
    padding-top: 60px;
    text-align: center;
    color: white;
    font-size: 3em;
}

#primary-text {
    padding: 50px;
    color: white;
    font-size: 1.8em;
    text-align: center;
}




.first-box {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.second-box, .fourth-box {
    background-color: white;
    padding: 0px 150px;

}

.third-box {
    background-color: #f6f6f6;
    padding: 0px 150px;

}

.fifth-box {
    height: 800px;
    background-color: #f6f6f6;
    padding: 0px 150px;

}

.first-content {
    width: 65%;
    height: 80%;


}
.second-content {
    width: 35%;
    height: 80%;

}

.second-content > h2 {

    padding: 20px 40px;
    font-size: 2.5em;
    line-height: 120%;
}

.second-content > p {
    font-size: 1.5em;
    padding: 20px 40px;
    line-height: 120%;

} 


.fifth-content {
    width: 100%;
    height: 80%;
    background-color: #f6f6f6;
    text-align: center;
}

.fifth-content > h2 {
    padding: 20px 40px;
    font-size: 2.5em;
    line-height: 120%;
}

.fifth-content > p {
    font-size: 1.5em;
    padding: 20px 40px;
    line-height: 120%;
}


footer {
    height: 800px;
    background-color: rgba(28, 25, 25, 0.946);
    

}

.main-footer {
    min-height: 600px;
    display: flex;
    align-items: flex-start;
    padding: 0px 150px;
}

.lower-footer {
    height: 200px;
    display: flex;
    align-items: center;

}

.lower-bar-footer {
    
    height: 180px;
    width: 80%;
    margin-top: 10px;
}

.main-column-footer {
    width: 40%;
    height: 95%;
    color: white;
}

.secondary-column-footer {
    width: 15%;
    height: 95%;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 10%;
    height: 30px;
}


.footer-button {
    width: 10%;
    height: 40px;
    background-color:#8ea1e1;
    border-radius:20px;
	font-size:15px;
	text-decoration:none;
    color:white;
}

.main-column-footer > h3 {
    color: #8ea1e1;
    padding: 30px;
    font-size: 2.5em;

}

.footer-list :first-child {
    color:#8ea1e1;
    font-weight: bold;
}

.footer-list {
    line-height: 180%;
    color: white;
    list-style-type: none;
    padding: 30px;

}

footer > hr {
    border-color: #8ea1e1;
    width: 80%;
    margin: auto;
}

#language > p {
    display: inline;
    padding-left: 7px;
    font-size: 1.2em;
    vertical-align: center;
}

#language > img {
    width: 30px;

}

#language {
    padding: 30px;
}